/*====== LAS FUENTES DE GOOGLE ======*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*====== PARTIALS Importar todos los CSS ======*/
@import 'partials/_variables.css';
@import 'partials/_general.css';
@import 'partials/_header.css';
@import 'partials/_main.css';
@import 'partials/_footer.css';
 