<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Politicas de privacidad'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->
 
    
    <div class="container">

    <h2>Política de Cambios y Devoluciones</h2><br>
    <p>
    A) Alcance: La Política de cambios y Devoluciones aplica a las compras de productos realizados en nuestra tienda online www.mitoy.com.ar
    Los consumidores tendrán derecho a devolver el producto adquirido, en los siguientes casos:
        
    (B) Devolución: El consumidor tiene derecho a revocar la operación comercial durante el plazo de DIEZ (10) días corridos, contados a partir de la fecha en que se entregue la cosa o se celebre el contrato, lo último que ocurra, sin responsabilidad alguna. Esta facultad no puede ser dispensada ni renunciada. El consumidor comunicará fehacientemente dicha revocación al Proveedor y pondrá la cosa a su disposición. Los gastos de devolución son por cuenta del Proveedor. Para ejercer el derecho de revocación el consumidor deberá poner la cosa a disposición del vendedor sin haberla usado y manteniéndola en el mismo estado en que la recibió, debiendo restituir el Proveedor al consumidor los importes recibidos. Asimismo, el consumidor deberárnpresentar junto con el producto la correspondiente factura de compra y elrnpackaging original.(ii) Cambios : El consumidor cuenta con un plazo de treinta (30) días corridos desde la fecha de envío del producto, para realizar cambios. El producto debe encontrarse en el mismo estado en que fue recibido, sin haber sido usado. El consumidor debe presentar junto con el producto, el ticket de cambio que adjuntamos junto a tu factura y el packaging original en el mismo estado en que fue entregado y presentarse en las sucursales habilitadas para cambios online.
        
    C) ¿Cómo gestiono un cambio de una compra realizada con envío?. Deberá comunicarse a nuestro centro de atención post venta al whats app 112- 193- 1124 detallando su número de pedido de forma de poder acordar la entrega que deberá realizarnos para el correspondiente cambio. En caso de que el producto llegue en una condición diferente a la acordada para el cambio, Juguetería Mitoy se reserva el derecho de cobrar el flete.
    </p>
       
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>