<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Politicas de privacidad'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->
 
    <%- include('partials/breadCrumbs') %>
    <div class="container">
    <h2>Politica de envíos:</h2><br>
    <p> El envío se realizará según la forma seleccionada por el cliente al realizar su compra enrnnuestra tienda online www.mitoy.com.ar el mismo podrá ser:
        A) Retiro en Sucursal: No habilitada.
        B) Mitoy Express: Este servicio es el Servicio Express de Mitoy para compras realizadas en CABA y GBA.
        La compra se entregará a las 24 en Caba y 48 hs en el primer córdon de GBA hs una vez de confirmada y acreditada la compra.
        
        Las compras realizadas los fines de semana o feriados serán enviadas el día hábil siguiente. La entrega se realizará a la persona que realizó la compra, presentando la factura de compra y DNi.
        
        
        C)    Oca Envío a Domicilio: Al seleccionar esta opción elrnservicio solicitado se realizará puerta a puerta , es decir la entrega se realizará al domicilio del cliente y en la misma será informado el costo de envío del producto. El tiempo de entrega estimado será de 7 días hábiles y los pedidos se despachan a partir de las 48 hs de informada la acreditación del pago . La entrega se realizará a la persona que realizó la compra, presentando la factura de compra y DNi.
        
              D)    Oca Envío a Sucursal de OCA más cercana: Al seleccionar esta opción el servicio solicitado se realizará hasta la sucursal de Oca más cercana al domicilio del cliente y en la misma será informado el costo de envío del producto. El tiempo de entrega estimado será de 7 días hábiles y los pedidos se despachan a partir de las 48 hs de informada la acreditación del pago. La entrega se realizará a la personarnque realizó la compra, presentando la factura de compra y DNi.</p>
    
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>