<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Mis datos'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->
    <%- include('partials/breadCrumbs') %>


    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>