 
<html lang="es">
    <!-- Include Head -->
    <%- include('partials/head', {title: 'Politicas de privacidad'}) %>
    <body>
        <!-- Header -->
        <%- include('partials/headerNavbar') %>
        <!-- /Header -->
 
        
        <!-- footer -->
        <%- include('partials/footer') %>
        <!-- /footer -->
    </body>	
    </html> 