 
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito de Compras'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h3>Carrito de compras</h3>
			</div>
		</div>
		<div class="col-12">
			<form action="" method="POST">
				<div class="row product-detail">
 			 
 								<div class="col-12 col-sm-6 col-lg-3">
									<section class="product-box">
 											<figure class="product-box_image">
			 
											</figure>
											<article class="product-box_data">
											 
											</article>
 									</section>
								</div>
   
								<div class="col-12 col-sm-6 col-lg-3">
									<section class="product-box">
 											<figure class="product-box_image">
			 
											</figure>
											<article class="product-box_data">
											 
											</article>
 									</section>
								</div>

								<div class="col-12 col-sm-6 col-lg-3">
									<section class="product-box">
 											<figure class="product-box_image">
			 
											</figure>
											<article class="product-box_data">
											 
											</article>
 									</section>
								</div>								

								<div class="col-12 col-sm-6 col-lg-3">
									<section class="product-box">
 											<figure class="product-box_image">
			 
											</figure>
											<article class="product-box_data">
											 
											</article>
 									</section>
								</div>
								
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html> 