 
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito de Compras'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h3>Carrito de compras</h3>
			</div>
		</div>
		<div class="col-12">
			<form action="" method="POST">
				<div class="row product-detail">
			  
					<div class="col-2 col-sm-2 col-lg-2">
						<p>Producto</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p>Nombre</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p>Precio</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p>Cantidad</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p>Total</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
					</div>
	 

					<div class="col-2 col-sm-2 col-lg-2">
						<section class="product-box">
 											<figure class="product-box_image-shopping">
												<img src="/images/products/imagen1.jpg" alt="imagen de producto" >
											</figure>
 									</section>
								</div>
   
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box">
											<article class="product-box_data">
												<p>Eco bloques</p>
											</article>
 									</section>
								</div>

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box">
											<article class="product-box_data">
												<p>$ 800</p>											 
											</article>
 									</section>
								</div>								

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box">
											<article class="product-box_data">
												<input type="number" id="cantidad" name="cantidad" class="form-input">
											</article>
 									</section>
								</div>
								
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box">
											<article class="product-box_data">
												<p>$ 0000.</p>
											</article>
 									</section>
								</div>
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box">
											<article class="product-box_data">
												<p>X</p>
											</article>
 									</section>
								</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html> 