 
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito de Compras'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h3>Carrito de compras</h3>
			</div>
		</div>
		<div class="col-12">
			<form action="" method="POST">
				<div class="row product-detail">
			  
					<div class="col-2 col-sm-2 col-lg-2">
						<p class="shopping-titulo">Producto</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p class="shopping-titulo">Nombre</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p class="shopping-titulo">Precio</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p class="shopping-titulo">Cantidad</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
						<p class="shopping-titulo">Total</p>
					</div>
					<div class="col-2 col-sm-2 col-lg-2">
					</div>
	 

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
										<figure class="product-box_image-shopping">
											<img src="/images/products/imagen1.jpg" alt="imagen de producto" >
										</figure>
									</section>
								</div>
   
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>Eco bloques</p>
											</article>
 									</section>
								</div>

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>$ 800</p>											 
											</article>
 									</section>
								</div>								

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<input type="number" id="cantidad" name="cantidad" class="form-input">
											</article>
 									</section>
								</div>
								
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>$ 0000.</p>
											</article>
 									</section>
								</div>
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>X</p>
											</article>
 									</section>
								</div>



								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
										<figure class="product-box_image-shopping">
											<img src="/images/products/imagen1.jpg" alt="imagen de producto" >
										</figure>
									</section>
								</div>
   
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>Eco bloques</p>
											</article>
 									</section>
								</div>

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>$ 800</p>											 
											</article>
 									</section>
								</div>								

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<input type="number" id="cantidad" name="cantidad" class="form-input">
											</article>
 									</section>
								</div>
								
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>$ 0000.</p>
											</article>
 									</section>
								</div>
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>X</p>
											</article>
 									</section>
								</div>



								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
										<figure class="product-box_image-shopping">
											<img src="/images/products/imagen1.jpg" alt="imagen de producto" >
										</figure>
									</section>
								</div>
   
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>Eco bloques</p>
											</article>
 									</section>
								</div>

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>$ 800</p>											 
											</article>
 									</section>
								</div>								

								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<input type="number" id="cantidad" name="cantidad" class="form-input">
											</article>
 									</section>
								</div>
								
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>$ 0000.</p>
											</article>
 									</section>
								</div>
								<div class="col-2 col-sm-2 col-lg-2">
									<section class="product-box-shopping">
											<article class="product-box_data-shopping">
												<p>X</p>
											</article>
 									</section>
								</div>
								
				</div>
			</form>
		</div>

	</div>
	<!-- Carrito de Productos -->


	<div class="container products-wrapper">
		<div class="col-12">
			<form action="" method="POST">
				<div class="row product-detail">
			  

					<!-- TIPO DE ENTREGA -->

					<div class="col-12 col-sm-6 col-lg-6">
						<div class="row radio-shopping">
							<div class="col-12 col-sm-6 col-lg-6">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
								<label for="exampleRadios1" class="radio-label-shopping">
								  Envio a domicilio
								</label>
							</div>
							<div class="col-12 col-sm-6 col-lg-6">
								<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
								<label for="exampleRadios2" class="radio-label-shopping">
								  Retirar en tienda
								</label>
							</div>
						</div>
					</div>

					<!-- TIPO DE ENTREGA -->


					<!-- TOTALES DE LOS PRODUCTO -->
					<div class="col-12 col-sm-6 col-lg-6">
						<div class="row totales-shopping">
							<div class="col-12 col-sm-6 col-lg-6">
								<h3>Subtotal</h3>
							</div>
							<div class="col-12 col-sm-6 col-lg-6">
								<h3> $ 9999</h3>
							</div>
							<div class="col-12 col-sm-6 col-lg-6">
								<h2>Total</h2>
							</div>
							<div class="col-12 col-sm-6 col-lg-6">
								<h2> $ 9999</h2>
							</div>	
							<div class="col-12 col-sm-12 col-lg-12">
								<button type="submit" class="button-shopping">FINALIZAR COMPRA</button>
							</div>							
						</div>					
					</div>					
					<!-- TOTALES DE LOS PRODUCTO -->
 

				</div>
			</form>
		</div>
	</div>	





	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html> 