<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Politicas de privacidad'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->
 


    <div class="container">

        <%- include('partials/breadCrumbs') %>

    <h3>Almagro</h3>
    <p>Av. Rivadavia 4076, Capital Federal.
        Tel. (011) 4981-6260 de 11 a 20hs</p><br>
    <h3>Belgrano</h3>
    <p>Av. Cabildo 436, Capital Federal.
        Tel. (011) 4775-1515 de 11 a 20hs</p><br>
    <h3>Martínez</h3>
    <p>Av. Santa Fe 2340, Gran Bs As Norte.
        Tel. (011) 5788.0777 de 10 a 20hs</p>
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>