<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Politicas de privacidad'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->
 
    <%- include('partials/breadCrumbs') %>
    <div class="container">
    <h2>Aviso Legal</h2><br>
    <h4>Objetivo del Sitio Web</h4>
    <p>
    El presente contrato (en adelante el “Contrato”) describe los términos y condiciones generales (las “Condiciones Generales”) que regulan el uso de los contenidos y servicios que integran el sitio web www.Mitoy.com.ar (en adelante, el “Sitio Web”) que Razón Social (“Mitoy”) pone a disposición de los usuarios de Internet (el “Usuario”).
    A través del Sitio Web, Cebra facilita a los Usuarios el acceso y la utilización de diversos servicios y contenidos, que son puestos a disposición de los Usuarios, por tienda, por terceros usuarios del Sitio Web y/o por terceros proveedores de servicios y contenidos.
    </p>
    <h4>Acceso y utilización del Sitio Web</h4>

    <p>
    La utilización del Sitio Web atribuye la condición de usuario del mismo y expresa la aceptación plena y sin reservas del Usuario de todas y cada una de las Condiciones Generales en la versión publicada por Cebra en el momento mismo en que el Usuario acceda al Sitio Web. En consecuencia, el Usuario debe leer atentamente las Condiciones Generales en cada una de las ocasiones en que se proponga utilizar el Sitio Web y cualquier Usuario que no acepte estas Condiciones Generales, las cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar el Sitio Web y/o los servicios.
    Asimismo, la utilización de los distintos servicios ofrecidos en el Sitio Web (los “Servicios”) y del contenido incluido en el Sitio Web (el “Contenido”) se encuentra sometida igualmente a todos los avisos, reglamentos de uso e instrucciones puestos en conocimiento del Usuario por Cebra, que completan lo previsto en estas Condiciones Generales en cuanto no se opongan a ellas.
    Cebra se reserva el derecho a modificar unilateralmente, en cualquier momento y sin aviso previo, la presentación y configuración del Sitio Web, así como de los Servicios, del Contenido y/o las presentes Condiciones Generales.
    El Usuario se compromete a utilizar el Sitio Web, el Contenido y los Servicios de conformidad con la ley, estas Condiciones Generales, obligándose asimismo a:

     1. Abstenerse de utilizar el Sitio Web y los Servicios con fines o efectos ilícitos, contrarios a lo establecido en estas Condiciones Generales, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el Sitio Web y los Servicios o impedir la normal utilización o disfrute del Sitio Web y de los Servicios por parte de los Usuarios.

     2. Usar los contenidos del Sitio Web de forma diligente, correcta y lícita y, en particular, se compromete a abstenerse de (a) utilizar los contenidos de forma, con fines o efectos contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público; (b) reproducir o copiar, distribuir, permitir el acceso del público a través de cualquier modalidad de comunicación pública, transformar o modificar los Contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido; (c) suprimir, eludir o manipular el copyright y demás datos identificativos de los derechos de Cebra o de sus titulares incorporados a los Contenidos, así como los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren contener los contenidos.
     En virtud de lo establecido precedentemente, el Usuario es consciente de y acepta voluntariamente que el uso del Sitio Web, de los Servicios y de los Contenidos tiene lugar, en todo caso, bajo su única y exclusiva responsabilidad.
        
     Mitoy se reserva el derecho a denegar o retirar el acceso al Sitio Web y/o a los Servicios, en cualquier momento y sin necesidad de preaviso, a aquellos Usuarios que incumplan estas Condiciones Generales.
        
    </p>
    
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>