<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Bienvenido'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->
 
    <h1>Bienvenido: <%=usuario%></h1>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>