<header class="main-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-5 col-md-2">
				<a href="/" class="main-header_home-link">
					<img src="/images/logos/logo-mitoy.svg">
				</a>
			</div>

		</div>

	 

		<!-- <nav class="main-navbar">
			<ul class="left-navbar">
				<li><a href="/">Todos los Juguetes</a></li>
				<li><a href="/">Ultimas Ofertas</a></li>
				<li><a href="/">Novedades</a></li>
				<li><a href="/products/create">Carga de Productos</a></li>
			</ul>

			<ul class="right-navbar">
				<li><a href="/users/register">Iniciar Sesion</a></li>
				<li><a href="/users/register">Registrarse</a></li>
				<li><a href="/products/shopping"><i class="fas fa-shopping-cart"></i></a></li>
			</ul>
		</nav> -->


		<nav>
			<input type="checkbox" id="checkbox1">
			<label for="checkbox1">
			  <ul class="menu demo">
				<li><a href="/">Todos los Juguetes</a></li>
				<li><a href="/">Ultimas Ofertas</a></li>
				<li><a href="/">Novedades</a></li>
				<li><a href="/products/create">Carga de Productos</a></li>
				<li><a href="/users/register">Iniciar Sesion</a></li>
				<li><a href="/users/register">Registrarse</a></li>
				<li><a href="/products/shopping"><i class="fas fa-shopping-cart fa-2x"></i> (0)</a></li>		
			  </ul>
			  <span class="toggle">☰</span>
			</label>
		</nav>
		  
		  
	</div>
</header>