/*====== ETIQUETAS GENERALES ======*/
* {
    box-sizing: border-box;
  }
  
  html,
   body {
    min-height: 100vh;
    margin: 0;
    font-size: 10px;
  }
  
  body {
    font-family: var(--base-font-family);
    font-weight: 300;
    background-color: var(--light-gray);
  }
  
  ul,
   ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
     text-decoration: none;
     font-weight: bold;
  }
  
  figure {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
  }
  
  input textarea {
    font-family: inherit;
  }
  
  hr {
    border: none;
    border-bottom: solid 1px var(--light-gray);
  }
  